/* здесь используйте глобальные селекторы img, body, html и так далее */
* {
  box-sizing: border-box;
  // outline: 2px solid rgba(255, 0, 0, 0.8);
}

.visually-hidden {
  visibility: hidden;
  font-size: 0;
  margin: 0;
  height: 0;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 320px;

  @media screen and (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1280px;
  }
}
