.academy {
  text-decoration: none;
  // background-color: $special-dark-grey;
  // mask-image: url("../../icons/stack.svg#logo-html");
  // mask-repeat: no-repeat;
  // mask-position: right;
  // mask-size: 27px 34px;
}

.academy__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
  letter-spacing: 0;
  text-align: left;


  &:hover {
    color: $basic-green;
  }
}

.academy__logo {
  &:hover {
    fill: $basic-green;
  }
}
