.actions__description {
  font-size: 16px;
  line-height: 24px;
  color: $basic-black;
  letter-spacing: 0;
  text-align: center;
}

.actions__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
