.button {
  // font-size: 16px;
  // line-height: 20px;
  color: $basic-white;
  // letter-spacing: 0;
  // text-align: center;
  background-color: $basic-green;
  // text-decoration: none;

  display: block;
  box-sizing: border-box;
  border: 0;
  padding: 11px 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button--second {
  color: $special-dark-grey;
}

.button--third {
  font-size: 20px;
  line-height: 26px;
}
