.button {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  letter-spacing: 0;
  text-align: center;
  background-color: $basic-green;
  text-decoration: none;
}

.button--second {
  color: $special-dark-grey;
}

.button--third {
  font-size: 20px;
  line-height: 26px;
}
