.card {
  padding: 22px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 0;
  width: 320px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    min-height: 511px;
    width: 324px;
    padding: 22px 35px 40px;
    gap: 22px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 245px;
    gap: 0;
    min-height: 526px;
    padding: 22px 36px 37px;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: $tablet-width) {
    align-items: center;
    gap: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 15px;
  }
}

.card--more {
  grid-template-columns: 1fr;
  padding-top: 25px;

  @media screen and (min-width: $tablet-width) {
    margin-top: 100px;
    min-height: 411px;
    background-image: none;
    border: 2px solid $basic-grey;
  }
}

.card__content--more {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 20px;
    justify-content: space-between;
    gap: 0;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 27px;
  }
}

.card__plus {
  @media screen and (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.card__item-link {
  grid-row: 1 / -1;
  display: flex;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    justify-content: center;
  }
}

.card__item-title {
  font-size: 16px;
  line-height: 20px;
  color: $basic-black3;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  width: 76px;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 135px;
  }
}

.card__item-title--more {
  // background-image: url("../../icons/stack.svg#plus");
  width: 100%;
  padding-top: 13px;
  // background-size: 30px;
  // background-repeat: no-repeat;
  // background-position: center top;

  @media screen and (min-width: $tablet-width) {
    // background-size: 60px;
    padding-top: 25px;
    width: 170px;

    // background-position-y: 50%;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 13px;
  }
}


.card__table {
  width: 100%;
}

.card__table-row {
  display: flex;
  justify-content: space-between;
  padding: 1px 0;

  @media screen and (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey;
    padding: 6px 0;
  }
}

.card__table-cell {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $special-dark-grey;
  letter-spacing: 0;
  text-align: center;
  font-weight: 400;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__item-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  letter-spacing: 0;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
  }
}

.card__button {
  grid-column: 1/-1;

  @media screen and (min-width: $tablet-width) {
    min-height: 40px;
    align-self: flex-end;
    margin-top: 5px;
  }
}
