.functions__header {
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  letter-spacing: 0;
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding-top: 18px;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 44px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.functions__list {
  @include list-reset();
  padding: 42px 0 48px;
  display: grid;
  gap: 20px;
  counter-reset: verse 0;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 60px;
    padding-bottom: 36px;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 94px;
  }
}

.functions__item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  letter-spacing: 0;
  text-align: left;
  padding-left: 80px;
  position: relative;
  min-height: 60px;
  counter-increment: verse;
  z-index: 0;

  &::before {
    content: "";
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: -2px;
    background-size: 30px 32px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 280px;
    padding-top: 141px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 80px;


    &::before {
      width: 80px;
      height: 80px;
      top: 30px;
    }

    &::after {
      content: counter(verse);
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      position: absolute;
      right: 78px;
      z-index: -1;
      bottom: 10px;
      font-family: "Oswald", sans-serif;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.functions__item--leaf {
  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#icon_leaf");
  }

  @media screen and (min-width: $tablet-width) {
    &::after {
      right: 100px;
    }
  }
}

.functions__item--vector {
  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#icon_vector");
  }
}

.functions__item--eat {
  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#icon_eat");
  }
}

.functions__item--clock {
  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#icon_clock");
  }
}

.functions__item-image {
  background-color: $basic-green;
}
