.functions__header {
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  letter-spacing: 0;
  text-align: center;
}

.functions__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  letter-spacing: 0;
  text-align: left;
}
