.main-header {
  background-color: $basic-white;

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-header--first {
  @media screen and (min-width: $desktop-width) {
    background-image: linear-gradient(90deg, $basic-white 50%, rgb(100, 168, 59, 0.85) 50%), url("../../images/index-background-desktop@1x.jpg"), linear-gradient(90deg, $basic-white 50%, #3f3e41 50%);
    background-position: center, calc(50% + 521px) center;
    background-repeat: no-repeat;
  }
}
