.page__body {
  background-color: $basic-white;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  font-weight: 400;
  margin: 0;
}

.page__body--error {
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  display: grid;
}
