.page__body {
  background-color: $basic-white;
  font-family: "Oswald", sans-serif;
  color: $basic-black;
  font-weight: 400;
  margin: 0;
}

.page__body--error {
  grid-template-rows: 15% 65% 20%;
  min-height: 100vh;
  display: grid;
}
