.programs {
  padding-top: 20px;
}

.programs__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.programs__item {
  background-color: $basic-grey;
  padding: 20px;

  @media screen and (min-width: $tablet-width) {
    padding: 77px 53px;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  letter-spacing: 0;
  text-align: left;
  padding-left: 90px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  margin: 0;

  &::before {
    content: "";
    background-color: $basic-green;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#cat-slim");
    width: 50px;
    height: 53px;
    left: 0;
    top: -5px;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
  }
}

.programs__title--second {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#cat-pro");
    width: 68px;
    height: 53px;
    left: -10px;
  }
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  letter-spacing: 0;
  text-align: left;
  margin: 0 0 23px;
  padding: 30px 0 23px;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  background-color: $basic-grey;
  padding: 15px 0;


  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid $basic-grey-2;
    width: 240px;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#arrow-right");
    width: 32px;
    height: 10px;
    top: 40%;
    left: 125%;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    text-transform: uppercase;

    &::before {
      border-top: none;
    }
  }
}
