.programs__title {
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  letter-spacing: 0;
  text-align: left;
  font-weight: 400;
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  letter-spacing: 0;
  text-align: left;
}

.programs__link-text {
  font-size: 16px;
  line-height: 20px;
  color: $basic-black;
  letter-spacing: 0;
  text-align: center;
}
