.promo__main-header {
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-align: center;
  letter-spacing: 0;
}
