.promo {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/index-background-mobile@1x.png");
  background-size: 320px 302px;
  background-repeat: no-repeat;
  background-position: center top;
}


.promo__main-header {
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-align: center;
  letter-spacing: 0;
}

.promo__picture {
  display: flex;
  flex-direction: column;
}

.promo__promo-image {
  @media screen and (min-width: $tablet-width) {
    order: 4;
  }
}
