.social {
  background-color: $basic-grey;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 55px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.social__content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
