.sub-products__header {
  font-size: 32px;
  line-height: 32px;
  color: $basic-black;
  letter-spacing: 0;
  text-align: center;
}

.sub-products__item-title {
  font-size: 20px;
  line-height: 20px;
  color: $basic-black3;
  letter-spacing: 0;
  text-align: center;
}

.sub-products__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
  letter-spacing: 0;
  text-align: center;
}

.sub-products__actions-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  letter-spacing: 0;
  text-align: left;
}
